
.row
  .widget
    .widget-header
      i.icon-user
      h3 Your Account

    .widget-content:.tabbable
      ul.nav.nav-tabs
        li.active
          a(href='#profile', data-toggle='tab') Profile
        li
          a(href='#business', data-toggle='tab') Business
        li
          a(href='#offer', data-toggle='tab') Offer

      br

      - user = typeof(udata) != 'undefined' ? udata : {}
      input(type='hidden', value= user._id)#userId


      form(method="post")#account-form.form-horizontal.tab-content
        #profile.tab-pane.active: fieldset
          p.main.subheading Hi, #{user.user}. 
          br
          #user-cg.control-group
            label.control-label(for='user-tf') Username
            .controls
              input#user-tf.disabled(type='text', name='user', value=user.user)
          #cust-cg.control-group
            label.control-label(for='cust-tf') Customer Number
            .controls
              input#cust-tf.disabled(type='text', name='cust', value=user.cust)
          
          #pass-cg.control-group
            label.control-label(for='pass-tf') Password
            .controls
              input#pass-tf(type='password', name='pass', value='')
          #email-cg.control-group
            label.control-label(for='email-tf') Email
            .controls
              input#email-tf(type='text', name='email', value= user.email)

        #business.tab-pane: fieldset
          #business_name-cg.control-group
            label.control-label Name
            .controls
              input(type='text', name='business_name', value= user.business_name, placeholder='My Business')
          #business_phone.control-group
              label.control-label Phone
              input(type='text', name='business_phone', value= user.business_phone, placeholder='555-555-5555')
          #address_street-cg.control-group
            label.control-label Street
            .controls
              input(type='text', name='address_street', value= user.address_street, placeholder='Street')
          #address_city-cg.control-group
            label.control-label City
            .controls
              input(type='text', name='address_city', value= user.address_city, placeholder='City')
          #address_state-cg.control-group
            label.control-label State
            .controls
              select.input-small(name='address_state', value= user.address_state, placeholder='KS/MO')
                option KS
                option MO
          #address_zip-cg.control-group
            label.control-label Zip
            .controls
              input.input-small(type='text', name='address_zip', value= user.address_zip, placeholder='64105')
          .control-group
              label.control-label Location
              .controls
                select(name='address_location', value= user.location, placeholder="Kansas City")
                  each c in categories.locations
                    option(value= c.parsed) #{c.city}, #{c.state}

          .control-group
            label.control-label Date start
            .controls
              input(type='text', name='date_start', value= user.date_start, placeholder='Date start')
          .control-group
            label.control-label Date end
            .controls
              input(type='text', name='date_end', value= user.date_end, placeholder='Date end')

          .control-group
            label.control-label Publish?
            .controls
              input(type='text', name='publish', value= user.publish, placeholder='Yes/No')

        #offer.tab-pane: fieldset
          br
          label.control-label What are you offering?
          #coupon_title-cg.control-group
            .controls
              input(type="text", name='coupon_title', value= user.coupon_title, placeholder="Keep it short")
          label.control-label How much do you want for it? (Just dollars, no cents.)
          #coupon_type-cg.control-group
            .controls
              .input-prepend
                span.add-on $
                input.coupon-price(type='text', name='coupon_price', value= user.coupon_price)
          .control-group
            label.control-label What do people do with this offer?
            .controls
              select(name='coupon_supra', value= user.coupon_supra, placeholder= "")
                option#eat(value="eat") Eat it immediately
                option#drink(value="drink") Drink it immediately
                option#own(value="own") Own it to enjoy
                option#see(value="see") Experience it

          #coupon_category-cg.control-group
            label.control-label How do you categorize it?
            .controls
              select(name='coupon_sub', value= user.coupon_sub)
                each c in categories.sub_1
                  option(value= c.parsed)= c.longform
                each c in categories.sub_2
                  option(value= c.parsed)= c.longform
                each c in categories.sub_3
                  option(value= c.parsed)= c.longform
                each c in categories.sub_4
                  option(value= c.parsed)= c.longform
          #coupon_body-cg.control-group
            label.control-label Anything else?
            .controls
              textarea.input-x-large( name='coupon_body', value= user.coupon_body, placeholder='Be clear, concise, and brief')
          hr
        .form-actions
          button(type='button').account-form-btn1.btn.btn-danger Delete
          button(type='submit').account-form-btn2.btn Update

  .widget
    .widget-content
      h3#foobar Preview
      #preview.coupon

        .header
          .price
            .price-inner
              span.dollar $
              span.price-listing 
          .title


        .coupon-content
          .business_name
          .address
          br
          .date-wrapper Last updated 
          .date 
          // br
          // .date_start #{ o.date_start}
          // br
          // .date_end #{ o.date_end}
          br
        .toggles
          a.btn.btn-large.large-toggle
            i.icon.icon-info-sign
          a.btn.btn-large.favorite-toggle
            i.icon.icon-heart
        .footer
          .body
          .phone-wrapper
            i.icon.icon-phone  
            .phone.
              
          .address-wrapper
            i.icon.icon-map-marker
            .address.
           
          
         
        


include modals/form-errors

script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
