- CAT = categories

.row
  - user = typeof(udata) != 'undefined' ? udata : {}

  input(type='hidden', value= user._id)#userId


  .headers.center.fadeIn
    a.header(href='#')#home Home
    a.header(href='#')#account Profile
    a.header(href='#')#offer Offer
    a.header.disabled Report
    a.header.disabled Metrics
    a.header(href='#')#help Help

  // .alert.alert-block.alert-error.fade.in
  //   h4.alert-heading Herp and derp
  //   p Some stuff

  form(method="post")#account-form
    .widgets

      .steady#home
        .inner
          .greeting
            h2 Hi, #{user.user}.
            h3 Create and manage your own customized deal in 3 simple steps. Use the buttons below to get started.

      .widget.form-horizontal#account.jsHide
        .widget-content: fieldset
          .greeting
            h2 Got something good?
            h3 Create and manage your own customized deal in 3 simple steps. Use the buttons below to get started.
          #user-cg.control-group
            label.control-label(for='user-tf') Username
            .controls
              input#user-tf.disabled(type='text', name='user', value=user.user)
          #cust-cg.control-group
            label.control-label(for='cust-tf') Customer Number
            .controls
              input#cust-tf.disabled(type='text', name='cust', value=user.cust)
          
          #pass-cg.control-group
            label.control-label(for='pass-tf') Password
            .controls
              input#pass-tf(type='password', name='pass', value='')
          #email-cg.control-group
            label.control-label(for='email-tf') Email
            .controls
              input#email-tf(type='text', name='email', value= user.email)
          .form-actions
            button(type='button').account-form-btn1.btn.btn-danger Delete
            button(type='submit').account-form-btn2.btn Update


      .widgets-group#offer.jsHide
        .widget.form-horizontal#business
          .widget-content: fieldset
            .greeting.middle
              h3 Tell us a little about your business.
            .control-group
              label.control-label Business Name
              .controls
                input(type='text', name='business_name', value= user.business_name, placeholder='My Business')
            #phone-cg.control-group
                label.control-label(for='phone-tf') Business Phone
                .controls
                  input.span2#phone-tf(type='text', name='business_phone', value= user.business_phone, placeholder='555-555-5555')
            br
            .control-group
              label.control-label Street
              .controls
                input(type='text', name='address_street', value= user.address_street, placeholder='Street')

            #location.control-group
              label.control-label City
              .controls
                select#location.chzn-select(name='location', data-placeholder="City")
                  option= ""
                  if user.address_city != ''
                    option(selected, value= user.location )= user.address_city
                  mixin counties(cou, i)
                    optgroup(label= cou[i].county +' County ('+ cou[i].state+')')
                      for c in cou[i].cities
                        option(value= c.city +','+ cou[i].state +','+ cou[i].county )= c.city

                  mixin counties( categories.counties, 0 )
                  mixin counties( categories.counties, 1 )
                  mixin counties( categories.counties, 2 )
                  mixin counties( categories.counties, 3 )
                  mixin counties( categories.counties, 4 )

            input#address_city(type='hidden', name='address_city', value= user.address_city)
            input#address_state(type='hidden', name='address_state', value= user.address_state)
            input#county(type='hidden', name='county', value= user.county)

            #state-cg.control-group
              label.control-label State
              .controls
                span.input-small.uneditable-input= user.address_state

            .control-group
              label.control-label Zip
              .controls
                input#zip-tf.input-small(type='text', name='address_zip', value= user.address_zip, placeholder='654321')

        .widget.form-horizontal#offer
          .widget-content: fieldset
            label.control-label Offer Name
            .control-group
              .controls
                input(type="text", name='coupon_title', value= user.coupon_title, placeholder="Keep it short")
            label.control-label Offer Price
            .control-group
              .controls
                .input-prepend
                  span.add-on $
                  input.coupon-price(type='text', name='coupon_price', value= user.coupon_price)
            .control-group
              label.control-label Offer Category
              .controls
                select.chzn-select(name='cat', value= user.cat)
                  option Food
                  option Drink
                  option Possession
                  option Service
                  option Event


            .control-group
              label.control-label Tags
              .controls#tags
                select.chzn-select(name='tags', multiple)
                  option Blarg
                  option Snarggggg
                  option zzzz
                  option Service
                  option Event

            .control-group
              label.control-label Details
              .controls
                textarea.input-x-large( name='coupon_body', value= user.coupon_body, placeholder='Be clear, concise, and brief')

        .widget.form-horizonal#preview
          .widget-content
            .coupon
              .header
                .price
                  .price-inner
                    span.dollar $
                    span.price-listing 
                .title
              .coupon-content
                .business_name
                .address
                br
                .date-wrapper Last updated 
                .date 
                br
              .toggles
                a.btn.btn-large.large-toggle
                  i.icon.icon-info-sign
                a.btn.btn-large.favorite-toggle
                  i.icon.icon-heart
              .footer
                .body
                .phone-wrapper
                  i.icon.icon-phone  
                  .phone.
                    
                .address-wrapper
                  i.icon.icon-map-marker
                  .address.
  
            .clearfix
            fieldset
              label.control-label Publish?
              .controls
                .input-append
                  input.span2(type='text', name='publish', value= user.publish, placeholder='Yes/No')
                  button(type='submit').account-form-btn2.btn.btn-success Update
            .form-actions

        .steady#offer-welcome
          .inner
            .greeting
              h2 Got something good?
              h3 Create and manage your own customized deal in 3 simple steps. Use the buttons below to get started.
        #offer-nav.pagination.pagination-centered
          ul
            li: a#business(href='#') 1. Business
            li: a#offer(href='#') 2. Offer
            li: a#preview(href='#') 3. Preview & Publish


      .steady#help.jsHide
        .inner
          .greeting
            h2 Hi, #{user.user}.
            h3 Create and manage your own customized deal in 3 simple steps. Use the buttons below to get started.



    // .form-actions
    // button(type='button').account-form-btn1.btn.btn-danger Delete
    // button(type='submit').account-form-btn2.btn Update
         
        
       
      


include modals/form-errors

