
.row.fadeIn

  - user = typeof(udata) != 'undefined' ? udata : {}
  input(type='hidden', value= user._id)#userId


  tag1 = user.tags[0]
  tag2 = user.tags[1]
  tag3 = user.tags[2]

  .headers.center
    a.header(href='#')#home Home
    a.header(href='#')#account Profile
    a.header(href='#')#offer Offer
    a.header.disabled Metrics
    a.header(href='#')#features Features
    a.header(href='#')#help Help

  // :stylus
  //   #foo
  //     position absolute
  //     bottom 100px
  // form#foo(method='post',action='/new',enctype='multipart/form-data')
  //   p Hey there
  //   input(type='file', name='file')
  //   input.btn(type='submit')



  form(method="post")#account-form
    .widgets

      .steady#home
        .inner
          .greeting
            :stylus
              h1
                text-align center
            :markdown
              # Hi, #{user.user}.
              Manage everything in one page. We like to keep things simple. If you ever need help, just click the help icon, or simply go to the [help](#help) section.
              
              ---
              And don't forget to be awesome. Cheers.



      .widget.form-horizontal#account.jsHide
        .widget-content: fieldset
          .greeting
            :markdown
              Here is your profile page. Don't even think about changing your username or customer number.
          #user-cg.control-group
            label.control-label(for='user-tf') Username
            .controls
              input#user-tf.disabled(type='text', name='user', value=user.user)
          #cust-cg.control-group
            label.control-label(for='cust-tf') Customer Number
            .controls
              input#cust-tf.disabled(type='text', name='cust', value=user.cust)
          
          #pass-cg.control-group
            label.control-label(for='pass-tf') Password
            .controls
              input#pass-tf(type='password', name='pass', value='')
          #email-cg.control-group
            label.control-label(for='email-tf') Email
            .controls
              input#email-tf(type='text', name='email', value= user.email)
          .form-actions
            button(type='button').account-form-btn1.btn.btn-danger Delete
            button(type='submit').account-form-btn2.btn Update


      .widgets-group#offer.jsHide
        .widget.form-horizontal#business
          .widget-content: fieldset
            .greeting.middle
              h3 Tell us a little about your business.
            .control-group
              label.control-label Business Name
              .controls
                input(type='text', name='business_name', value= user.business_name, placeholder='My Business')
            #phone-cg.control-group
                label.control-label(for='phone-tf') Business Phone
                .controls
                  input.span2#phone-tf(type='text', name='business_phone', value= user.business_phone, placeholder='555-555-5555')
            br
            .control-group
              label.control-label Street
              .controls
                input(type='text', name='address_street', value= user.address_street, placeholder='Street')

            #location.control-group
              label.control-label City
              .controls
                select#location.chzn-select(name='location', data-placeholder="City")
                  option= ""
                  if user.address_city != ''
                    option(selected, value= user.location )= user.address_city
                  mixin counties(cou, i)
                    optgroup(label= cou[i].county +' County ('+ cou[i].state+')')
                      for c in cou[i].cities
                        option(value= c.city +','+ cou[i].state +','+ cou[i].county )= c.city

                  mixin counties( CT.counties, 0 )
                  mixin counties( CT.counties, 1 )
                  mixin counties( CT.counties, 2 )
                  mixin counties( CT.counties, 3 )
                  mixin counties( CT.counties, 4 )

            input#address_city(type='hidden', name='address_city', value= user.address_city)
            input#address_state(type='hidden', name='address_state', value= user.address_state)
            input#county(type='hidden', name='county', value= user.county)

            #state-cg.control-group
              label.control-label State
              .controls
                span.input-small.uneditable-input= user.address_state

            .control-group
              label.control-label Zip
              .controls
                input#zip-tf.input-small(type='text', name='address_zip', value= user.address_zip, placeholder='654321')

        .widget.form-horizontal#offer
          .widget-content: fieldset
            .greeting.middle
              h3 Tell us a little about your business.
            label.control-label Offer Name
            .control-group
              .controls
                input(type="text", name='coupon_title', value= user.coupon_title, placeholder="Keep it short")
            label.control-label Offer Price
            .control-group
              .controls
                .input-prepend
                  span.add-on $
                  input.coupon-price(type='text', name='coupon_price', value= user.coupon_price)
            br
            .control-group
              label.control-label Category
              .controls#category
                select.chzn-select(name='cat', data-placeholder='Choose One')
                  option= ''
                  each c in CT.cats
                    if c.name != user.cat
                      option= c.name
                    else
                      option(selected)= c.name

            #tags-cg

              each c in CT.cats
                if c.name != user.cat
                  .control-group(id= c.name).jsHide
                    label.control-label Tags
                    .controls#tags
                      select.chzn-select(name='tags', multiple, data-placeholder='Choose Up to Three')
                        optgroup(label= c.name+' Tags')
                          each j in c.tags
                            option= j
                        optgroup(label= 'Wildcards')
                          each w in CT.wildcards
                            option= w.wildcard
                else
                  .control-group(id= c.name)
                    label.control-label Tags
                    .controls#tags
                      select.chzn-select(name='tags', multiple, data-placeholder='Choose Up to Three')
                        optgroup(label= c.name+' Tags')
                          each r in c.tags
                            if r==tag1 || r==tag2 || r==tag3
                              option(selected)= r
                            else
                              option= r
                        optgroup(label= 'Wildcards')
                          each r in CT.wildcards
                            if r.wildcard==tag1 || r.wildcard==tag2 || r.wildcard==tag3
                              option(selected)= r.wildcard
                            else
                              option= r.wildcard


            .control-group
              label.control-label Details
              .controls
                textarea.input-x-large( name='coupon_body', value= user.coupon_body, placeholder='Be clear, concise, and brief')
                :stylus
                  textarea
                    height 50px

        .widget.form-horizonal#preview
          .widget-content
            .coupon
              .header
                .price
                  .price-inner
                    span.dollar $
                    span.price-listing 
                .title
              .coupon-content
                .business_name
                .address
                br
                .date-wrapper Last updated 
                .date 
                br
              .toggles
                a.btn.btn-large.large-toggle
                  i.icon.icon-info-sign
                a.btn.btn-large.favorite-toggle
                  i.icon.icon-heart
              .footer
                .body
                .phone-wrapper
                  i.icon.icon-phone  
                  .phone.
                    
                .address-wrapper
                  i.icon.icon-map-marker
                  .address.
  
            .clearfix
            fieldset
              :markdown
                Some markdown
              .controls
                :stylus
                  .input-append
                    text-align center
                    input
                      margin 0
                .input-append
                  input.span2(type='text', name='publish', value= user.publish, placeholder='Yes/No')
                  button(type='submit').account-form-btn2.btn.btn-success Update
            .form-actions

        .steady#offer-welcome
          .inner
            .greeting
              h2 Got something good?
              h3 Create and manage your own customized deal in 3 simple steps. Use the buttons below to get started.
        #offer-nav.pagination.pagination-centered
          ul
            li: a#business(href='#') 1. Business
            li: a#offer(href='#') 2. Offer
            li: a#preview(href='#') 3. Preview & Publish


      .steady#help.jsHide
        .inner
          .greeting
            h2 Hi, #{user.user}.
            h3 Create and manage your own customized deal in 3 simple steps. Use the buttons below to get started.



    // .form-actions
    // button(type='button').account-form-btn1.btn.btn-danger Delete
    // button(type='submit').account-form-btn2.btn Update
         
        
       
      


include modals/form-errors

