extends layout

block sidebar
  - user = typeof(udata) != 'undefined' ? udata : {}
  .inner(style="background-color: #{user.color}")
    nav#nav-home.fadeIn
      ul
        // li: a.active(href='#')#home: i.icon-home
        li: a(href='#')#account
          i.icon-user 
          span profile
        li: a(href='#')#offer
          i.icon-tags
          span offer
        li: a(href='#')#metrics
          i.icon-magic
          span metrics
        // li: a(href='#')#features
        li.disabled: a
          i.icon-th
          span features
        li: a(href='#')#info
          i.icon-question-sign
          span info
        li: a(href='#')#logout
          i.icon-signout
          span logout

    block brand
      div#brand
        a(href='/').fadeIn connect.ed
          br
          span powered by Deffenbaugh

block title-top
  nav#nav-top.jsHide
    h1#home
    h1#account Profile
    h1#offer Offer
    h1#metrics Metrics
    h1#features Features
    h1#info Info

block content

  - user = typeof(udata) != 'undefined' ? udata : {}
  - usrColor = typeof(user.color) != 'undefined' ? user.color : "#446190"
  if typeof(user.tags) != 'undefined'
    - tag1 = typeof(user.tags[0]) != 'undefined' ? user.tags[0] : {}
    - tag2 = typeof(user.tags[1]) != 'undefined' ? user.tags[1] : {}
    - tag3 = typeof(user.tags[2]) != 'undefined' ? user.tags[2] : {}
  else
    - tag1 = {}
    - tag2 = {}
    - tag3 = {}

  input(type='hidden', value= user._id)#userId


  form#account-form(method='post')

    article

      section#home
        div.greeting
          :stylus
            div.greeting
              height 100%
              width 100%

          h3#welcome.vertical-center.fadeIn
            | Hi, #{user.user}.

      mixin helper( o )
        a.helper(href='#', rel="popover", data-content= o )
          i.icon-question-sign.icon-large


      section#account.jsHide
          fieldset
            li.cg#user-cg
              label Username
                mixin helper( "Your username cannot be changed." )
              input#user-tf.disabled(type='text', disabled, name='user', value=user.user)
            li.cg#cust-cg
              label Customer Number
                mixin helper( "Disregard your customer for the time being. In the future, this number will be used to verify your Deffenbaugh customer status." )
              input#cust-tf.disabled(type='text', disabled, name='cust', value=user.cust)
            li.cg#pass-cg
              label Password
                mixin helper( "Your password must be at least six digits." )
              input#pass-tf(type='password', name='pass', value='')
            li.cg#email-cg
              label Email
                mixin helper( "We will only ever email you if you forget your password and you need to reset it." )
              input#email-tf(type='text', name='email', value= user.email)

            li.cg#profile-btn-group.form-actions.btn-group
              button(type='submit').account-form-btn2.btn Update
              button(type='button').account-form-btn1.btn.btn-danger Delete


      section#offer.jsHide

        section#business
          fieldset
            li.cg
              label Business Name
                mixin helper( 'Enter the name of your business. Remember, brevity is best.' )
              input#business_name-tf(type='text', name='business_name', value= user.business_name )
            li.cg#phone-cg
              label(for='phone-tf') Business Phone
              input.span2#phone-tf(type='text', name='business_phone', value= user.business_phone )
            hr

            li.cg
              label Locations
                mixin helper( "Do you have multiple locations? We've got you covered. List as many as three locations right now, and stay tuned for more listings and options as we roll them out." )

              input.lq( type="hidden", name='loc_quantity', value= user.loc_quantity )

            mixin loc( l, u )
              - usrActive = l-1 < user.loc_quantity || l == 1 ? true : false
              - classActive = usrActive ? 'active' : ''
              - classHide = !usrActive ? 'jsHide' : ''
              ul.loc.cg.quarter( value=l )
                button.lq.Color( type='button', name='loc_quantity', value=l, class=classActive, style="background: #{usrColor}" )= l
                li(class=classHide)
                  label Street
                  input.third(type='text', name='street_'+ l, value= u.street )

                li( id='loc_'+l, class=classHide)
                  label City &#38; State
                  select.loc.chzn-select(name='location', data-placeholder='-' )
                    option= ""
                    if typeof(u.city) != 'undefined' && u.city != '' ? true : false
                      option(selected)= u.city +', '+ u.state
                    mixin counties(cou, i)
                      optgroup(label= cou[i].county +' County ('+ cou[i].state+')')
                        for c in cou[i].cities
                          option(value= c.city +','+ cou[i].state +','+ cou[i].county )= c.city +', '+ cou[i].state


                    mixin counties( CT.counties, 0 )
                    mixin counties( CT.counties, 1 )
                    mixin counties( CT.counties, 2 )
                    mixin counties( CT.counties, 3 )
                    mixin counties( CT.counties, 4 )

                input.city( type='hidden', name='city_'+l, value=u.city )
                input.state( type='hidden', name='state_'+l, value=u.state )
                input.county( type='hidden', name='county_'+l, value=u.county )

                li(class=classHide)
                  label Zip
                  input#zip-tf.input-small(type='text', name='zip_'+ l, value=u.zip )


            - usr1 = typeof(user.loc[0]) != 'undefined' ? user.loc[0] : ''
            - usr2 = typeof(user.loc[1]) != 'undefined' ? user.loc[1] : ''
            - usr3 = typeof(user.loc[2]) != 'undefined' ? user.loc[2] : ''
            mixin loc( 1, usr1 )
            mixin loc( 2, usr2 )
            mixin loc( 3, usr3 )
            hr


        section#offer
          
           fieldset
            li.cg.quarter
              label Offer Name
                mixin helper( "This is the name of your offer. Brevity is best." )
              input(type="text", name='coupon_title', value= user.coupon_title )
            li.cg.quarter
              label Offer Price
                mixin helper( "List the price of the item you are offering after rounding to the nearest dollar." )
              input#price-tf(type='text', name='coupon_price', value= user.coupon_price)
            .clearfix
            li.cg.quarter#category
              label Offer Category
                mixin helper( "This is the primary category to which your offer belongs. What does your customer do with your product?" )
              select.chzn-select(name='cat', data-placeholder='-' )
                option= ''
                each c in CT.cats
                  if c.name != user.cat
                    option= c.name
                  else
                    option(selected)= c.name

            #tags.quarter

              each c in CT.cats
                if c.name != user.cat
                  li.cg(id= c.name).jsHide
                    label Offer Tags
                      mixin helper( "Pick a tag the tag that best describes your product." )
                    select.chzn-select(name='tags', multiple )
                      optgroup(label= c.name+' Tags')
                        each j in c.tags
                          option= j
                      optgroup(label= 'Wildcards')
                        each w in CT.wildcards
                          option= w.wildcard
                else
                  li.cg(id= c.name)
                    label Offer Tags
                    select.chzn-select(name='tags', multiple )
                      optgroup(label= c.name+' Tags')
                        each r in c.tags
                          if r==tag1 || r==tag2 || r==tag3
                            option(selected)= r
                          else
                            option= r
                      optgroup(label= 'Wildcards')
                        each r in CT.wildcards
                          if r.wildcard==tag1 || r.wildcard==tag2 || r.wildcard==tag3
                            option(selected)= r.wildcard
                          else
                            option= r.wildcard


            li.cg
              label Offer Details and Disclaimers
                mixin helper( "Is there anything else you'd like to add? Maybe the product is only offered on the weekends? Or perhaps you have an inspiring quote you'd like to share?" )
              div.c
                textarea#coupon_body.input-x-large(rows='3', name='coupon_body', data-text= user.coupon_body )

        hr

        section#logos
          div.cg
            label Symbol
              mixin helper( "These current symbols are only temporary. Soon we will have a very large selection from which to choose, including the optional logo attachment. If you absolutely must have the icon you desire right now, we recommend some nice green tea." )
            ul
              input(type="hidden", name='logo', value= user.logo)
              each i in IM
                if i === user.logo
                  li.selected: div( id='lg_'+i, data-image= i, style="background-image:url(https://s3.amazonaws.com/spinly/images/"+i+".png)")
                else
                  li: div( id='lg_'+i, data-image= i, style="background-image:url(https://s3.amazonaws.com/spinly/images/"+i+".png)")
          div.cg
            label Color
              mixin helper( 'Pick a color for your coupon backdrop. Go for something that says, "Hey, I&#39m a coupon. Check me out." Anything but neon brown.' )
            input#color-picker(type='text', name='color', value= user.color)

        // section#preview
        //   li.cg
        //     label Preview
        //       mixin helper( "This is about to change completely, so don't get too attached to it." )
        //   .row
        //     article.coupon
        //       header
        //         #{user.business_name}
        //         .symbol-container
        //           .symbol(style="background:url(https://s3.amazonaws.com/spinly/images/"+ user.logo + ".png)")
        //       .content
        //         sup.dollar $
        //         div.price#{user.coupon_price}
        //         .clearfix
        //         summary #{user.coupon_title}
        //       footer
        //         ul
        //           li: span.date #{user.date}
        //           hr
        //           li
        //             #{user.address_street}<br>
        //             #{user.address_city}, #{user.address_state}
        //             #{user.address_zip}<br>
        //             #{user.business_phone}
        //           hr
        //           li
        //             #{user.coupon_body}

  
          hr.clearfix

        li.cg
          label Publish
            mixin helper( 'To publish your coupon, enter the word "true" in the area below, then press "Update". Presto! Your coupon is live for the whole world.' )
          input.span2(type='text', name='publish', value= user.publish )
          button(type='submit').account-form-btn2.btn Update
        br
        br
        br

      section#metrics.jsHide
        div.greeting
          div.row.headline
            h2 Measure, grow, rinse, repeat
            | Our metrics measurements won't be instantaneous until we get our new servers. Blast!
            | <br>
            | It's OK, though. As soon as you log out, your metrics update. No biggie.
            | <br>
            | <br>
            | Oh, and graphs are coming. You're going to love 'em.

        li.cg.metric-icons
          .icon
            i.icon-circle-arrow-up
          span.data #{user.meta.votes}
          span.little  votes
        .clearfix

        li.cg.metric-icons.disabled
          .icon
            i.icon-heart
          span.data ----
          span.little  fav's
        .clearfix
        li.cg.metric-icons.disabled
          .icon
            i.icon-eye-open
          span.data ----
          span.little  views
        .clearfix

      section#info.jsHide
        div.greeting
          div.row
            .span6
              h3 
                i.icon-large.icon-dashboard
                |  Fat Free Information
              | You're busy. You don't have time to read a novel. We get it. Our goal is to strip away the junk and leave you with clean, strong, delicious information.
          div.row
            .span6
              h3 
                i.icon-large.icon-time
                |  Right Here, Right Now
              | Life is what happens while you're making other plans. Maybe it's time we created a space to say "no plans!" and live for a minute or two?
          div.row
            .span6
              h3 
                i.icon-large.icon-home
                |  Made by KC for KC
              | Kansas City is the bee's knees, don't you agree? With so much to do, it's hard to decide what to do at any given minute. We hope to make it a little easier.
          div.row
            .span6
              h3 
                i.icon-large.icon-beaker
                |  It Aint Easy Being Green
              | We're still in beta, so brace for the occasional server crash. Alas, it is the nature of the beast. We're working our tails off to bring you the absolute best value and experience possible.
          div.row
            .span6
              h3 
                i.icon-large.icon-credit-card
                |  Money, too
              | Our service is and always will be free. However, we're people here, and we have to eat! Stay tuned as we roll out our premium tags for merchant accounts.


  // div#map_canvas(style="width:100%; height:100%;")
        
  include modals/alert
  include modals/confirm
  include modals/form-errors

block scripts
  script(src='/js/views/universal.js')
  script(src='/js/views/homeBundle.js')
  script(src='/js/controllers/homeController.js')

