extends layout

block sidebar
  - user = typeof(udata) != 'undefined' ? udata : {}
  .inner(style="background-color: #{user.color}")
    nav#nav-home
      ul
        // li: a.active(href='#')#home: i.icon-home
        li: a(href='#')#account
          i.icon-user 
          span profile
        li: a(href='#')#offer
          i.icon-tags
          span offer
        li.disabled: a
          i.icon-magic
          span metrics
        // li: a(href='#')#features
        li.disabled: a
          i.icon-th
          span features
        // li: a(href='#')#help
        li.disabled: a
          i.icon-question-sign
          span help
        li: a(href='#')#logout
          i.icon-signout
          span logout

    block brand
      div#brand
        a(href='/')

block title-top
  nav#nav-top.jsHide
    h1#home
    h1#account Profile
    h1#offer Offer
    h1#features Features
    h1#help Help

block content
  - var tag1 = user.tags[0]
  - var tag2 = user.tags[1]
  - var tag3 = user.tags[2]

  - user = typeof(udata) != 'undefined' ? udata : {}

  input(type='hidden', value= user._id)#userId


  form#account-form(method='post')

    article

      section#home
        div.greeting
          :stylus
            div.greeting
              height 100%
              width 100%

          h3#welcome.vertical-center.fadeIn
            | Hi, #{user.user}.



      section#account.jsHide
          fieldset
            li.cg#user-cg
              label(for='user-tf') Username
                a.helper(href='#', rel="popover", data-content='Your username cannot be changed.')
                  i.icon-question-sign.icon-large
              input#user-tf.disabled(type='text', disabled, name='user', value=user.user)
            li.cg#cust-cg
              label.cl(for='cust-tf') Customer Number
              input#cust-tf.disabled(type='text', disabled, name='cust', value=user.cust)
            
            li.cg#pass-cg
              label(for='pass-tf') Password
              input#pass-tf(type='password', name='pass', value='')
            li.cg#email-cg
              label(for='email-tf') Email
              input#email-tf(type='text', name='email', value= user.email)

            li.cg#profile-btn-group.form-actions.btn-group
              button(type='submit').account-form-btn2.btn Update
              button(type='button').account-form-btn1.btn.btn-danger Delete


      section#offer.jsHide

        section#business
          fieldset
            li.cg
              label Business Name
              input#business_name-tf(type='text', name='business_name', value= user.business_name, placeholder='My Business')
            li.cg#phone-cg
              label(for='phone-tf') Business Phone
              input.span2#phone-tf(type='text', name='business_phone', value= user.business_phone, placeholder='555-555-5555')
            hr
            li.cg
              label Street
              input(type='text', name='address_street', value= user.address_street, placeholder='Street')

            li.cg#location
              label City
              select#location.chzn-select(name='location', data-placeholder="City")
                option= ""
                if user.address_city != ''
                  option(selected, value= user.location )= user.address_city
                mixin counties(cou, i)
                  optgroup(label= cou[i].county +' County ('+ cou[i].state+')')
                    for c in cou[i].cities
                      option(value= c.city +','+ cou[i].state +','+ cou[i].county )= c.city

                mixin counties( CT.counties, 0 )
                mixin counties( CT.counties, 1 )
                mixin counties( CT.counties, 2 )
                mixin counties( CT.counties, 3 )
                mixin counties( CT.counties, 4 )

            input#address_city(type='hidden', name='address_city', value= user.address_city)
            input#address_state(type='hidden', name='address_state', value= user.address_state)
            input#county(type='hidden', name='county', value= user.county)

            li.cg#state-cg
              label State
              span.input-small.uneditable-input= user.address_state

            li.cg
              label Zip
              input#zip-tf.input-small(type='text', name='address_zip', value= user.address_zip, placeholder='654321')

        hr


        section#offer
          
           fieldset
            li.cg
              label Offer Name
              input(type="text", name='coupon_title', value= user.coupon_title, placeholder="Keep it short")
            li.cg
              label Offer Price
              input#price-tf(type='text', name='coupon_price', value= user.coupon_price)
            li.cg#category
              label Offer Category
              select.chzn-select(name='cat', data-placeholder='Choose One')
                option= ''
                each c in CT.cats
                  if c.name != user.cat
                    option= c.name
                  else
                    option(selected)= c.name

            #tags

              each c in CT.cats
                if c.name != user.cat
                  li.cg(id= c.name).jsHide
                    label Offer Tags
                    select.chzn-select(name='tags', multiple, data-placeholder='Choose Up to Three')
                      optgroup(label= c.name+' Tags')
                        each j in c.tags
                          option= j
                      optgroup(label= 'Wildcards')
                        each w in CT.wildcards
                          option= w.wildcard
                else
                  li.cg(id= c.name)
                    label Offer Tags
                    select.chzn-select(name='tags', multiple, data-placeholder='Choose Up to Three')
                      optgroup(label= c.name+' Tags')
                        each r in c.tags
                          if r==tag1 || r==tag2 || r==tag3
                            option(selected)= r
                          else
                            option= r
                      optgroup(label= 'Wildcards')
                        each r in CT.wildcards
                          if r.wildcard==tag1 || r.wildcard==tag2 || r.wildcard==tag3
                            option(selected)= r.wildcard
                          else
                            option= r.wildcard


            li.cg
              label Offer Details and Disclaimers
              div.c
                textarea#coupon_body.input-x-large(rows='3', name='coupon_body', data-text= user.coupon_body, placeholder='Be clear, concise, and brief')

        hr

        section#logos
          div.cg
            label Symbol
            ul
              input(type="hidden", name='logo', value= user.logo)
              script
                Number.prototype.pad = function(n){
                  return('0000000000' + this).slice((n || 2) * -1);
                }
              - for (var i = 1; i < 100; ++i )
                if i < 100
                  i = '0' + i
                if i < 10
                  i = '0' + i
                if i === user.logo
                  li.selected: div(id= 'lg_'+i, data-image= i, style="-webkit-mask-box-image:url(https://s3.amazonaws.com/spinly/images/"+ i + ".png)")
                else
                  li: div(id= 'lg_'+i, data-image= i, style="-webkit-mask-box-image:url(https://s3.amazonaws.com/spinly/images/"+ i + ".png)")
          div.cg
            label Color
            input#color-picker(type='text', name='color', value= user.color)

        section#preview
          li.cg
            label Preview
          .row
            article.coupon
              header
                #{user.business_name}
                .symbol-container
                  .symbol(style="background-image:url(https://s3.amazonaws.com/spinly/images/"+ user.logo + ".png)")
              .content
                sup.dollar $
                div.price#{user.coupon_price}
                .clearfix
                summary #{user.coupon_title}
              footer
                ul
                  li: span.date #{user.date}
                  hr
                  li
                    #{user.address_street}<br>
                    #{user.address_city}, #{user.address_state}
                    #{user.address_zip}<br>
                    #{user.business_phone}
                  hr
                  li
                    #{user.coupon_body}

  
          hr.clearfix

        li.cg
          label Publish
          input.span2(type='text', name='publish', value= user.publish, placeholder='Yes/No')
          button(type='submit').account-form-btn2.btn Update
        br
        br
        br

      section#features.jsHide
        div.greeting
          div.row.headline
            h2 People want more. They need less.
            | Our goal is to bring people back to reality.
          div.row
            .span4
              h3 
                i.icon-large.icon-home
                |  Made by KC for KC
              | Kansas City is our home, and we can all spend a little more time enjoying being at home.
            .span4
              h3 
                i.icon-large.icon-time
                |  Right Here, Right Now
              | Like you, we love to go above and beyond for our customers.
          div.row
            .span4
              h3 
                i.icon-large.icon-time
                |  Right Here, Right Now
              | Like you, we love to go above and beyond for our customers.

      section#help.jsHide
        div.greeting
          div.row
            h2 Hi, #{user.user}.
            h3 Create and manage your own customized deal in 3 simple steps. Use the buttons below to get started.
        
  include modals/alert
  include modals/confirm
  include modals/form-errors

block scripts
  script(src='/js/views/universal.js')
  script(src='/js/views/homeBundle.js')
  script(src='/js/controllers/homeController.js')

