extends layout

block sidebar
  - user = typeof(udata) != 'undefined' ? udata : {}
  .inner(style='background-color: #{user.color}')
    nav#nav-steps.fadeIn
      .step.cats
        ul.option-set(filter-group='cats')
          each h in CT.cats
            li: a(filter-value='.'+h.name, href= '#'+h.name )= h.verb
          li: a(filter-value='.Wildcard', href= '#Wildcard' ) find

      .step.sorts.jsHide
        p the
        ul.option-set
          li: a.link(href='#newest') latest
          li: a.link(href='#cheapest') cheapest
          // li: a.link.disabled nearest
          // li: a.link.disabled best

        br
      .step.tags.jsHide
        mixin tags( o, m )
          ul.option-set(filter-group='tags', class= o[m].name )
            for l in o[m].tags
              li.tag: a(filter-value='.'+ l)= l

        mixin tags( CT.cats, 0 )
        mixin tags( CT.cats, 1 )
        mixin tags( CT.cats, 2 )
        mixin tags( CT.cats, 3 )
        mixin tags( CT.cats, 4 )

        ul.option-set(filter-group='tags', class='Wildcard')
          each c in CT.wildcards
            li: a(filter-value='.'+c.wildcard)= c.wildcard

      .step.tag-handler.jsHide
        each o in CT.cats
          p(class= o.name) #{o.name} in
        p(class= 'Wildcard') offer in

      .step.area.jsHide
        ul.option-set(filter-group='areas')
          each a in CT.counties
            li: a(filter-value='.'+ a.county)= a.county
        p county.

    nav#nav-links
      if typeof(udata) != 'undefined'
        a(href='/home').fadeIn Home
      else
        a(href='/login').fadeIn Login

    block brand
      div#brand
        a(href='/')

block content
  // h1#foobar FOOBAR
  div.coupon-container.jsOpacity
    each o in offers
      article.coupon(class= o.cat +' '+ o.tags[0] +' '+ o.tags[1] +' '+ o.tags[2] +' '+ o.county, sort-price= o.coupon_price, sort-date= o.date_numeric )

        aside.hide

          #{o.cat}
          #{o.tags[0]}  #{o.tags[1]} #{o.tags[2]}
        header
          | #{o.business_name}
          .symbol-container
            .symbol(style="background-image:url(https://s3.amazonaws.com/spinly/images/"+o.logo + ".png); background-color:"+ o.color)
        .content
          sup.dollar $
          div.price#{o.coupon_price}
          .clearfix
          summary #{o.coupon_title}
        footer
          ul
            li: span.date #{o.date}
            hr
            li
              #{o.address_street}<br>
              #{o.address_city}, #{o.address_state}
              #{o.address_zip}<br>
              #{o.business_phone}
            hr
            li
              #{o.coupon_body}

block scripts
  script(src='/js/controllers/homeController.js')

