extends layout

block sidebar
  - user = typeof(udata) != 'undefined' ? udata : {}
  .inner(style='background-color: #{user.color}')
    nav#nav-steps.fadeIn
      .step.cats
        ul.option-set(filter-group='cats')
          each h in CT.cats
            li: a(filter-value='.'+h.name, href= '#'+h.name )= h.verb
          li: a(filter-value='.Wildcard', href= '#Wildcard' ) find
          li.jsHide#all: a(filter-value='*', href= '#' ) all

      .step.sorts.jsHide
        p the
        ul.option-set
          li: a.link(href='#newest') latest
          li: a.link(href='#cheapest') cheapest
          li: span.link.disabled nearest
          li: a.link(href='#best') best
          li.jsHide#all: a(href= '#' ) all

        br
      .step.tags.jsHide
        mixin tags( o, m )
          ul.option-set(filter-group='tags', class= o[m].name )
            for l in o[m].tags
              li.tag: a(filter-value='.'+ l)= l
            li.jsHide#all: a(filter-value='*', href= '#' ) all

        mixin tags( CT.cats, 0 )
        mixin tags( CT.cats, 1 )
        mixin tags( CT.cats, 2 )
        mixin tags( CT.cats, 3 )
        mixin tags( CT.cats, 4 )

        ul.option-set(filter-group='tags', class='Wildcard')
          each c in CT.wildcards
            li: a(filter-value='.'+c.wildcard)= c.wildcard
          li.jsHide#all: a(filter-value='*', href= '#' ) all

      .step.tag-handler.jsHide
        each o in CT.cats
          p(class= o.name) #{o.name} in
        p(class= 'Wildcard') offer in

      .step.area.jsHide
        ul.option-set(filter-group='areas')
          each a in CT.counties
            li: a(filter-value='.'+ a.county)= a.county
          li.jsHide#all: a(filter-value='.*', href= '#' ) all
        p county.

    nav#nav-links
      if typeof(udata) != 'undefined'
        a(href='/home').fadeIn Home
      else
        a(href='/login').fadeIn Login

    block brand
      div#brand
        a(href='/').fadeIn spinly

block content
  // h1#foobar FOOBAR
  div.coupon-container.jsOpacity
    each o in offers
      - tt = {}
        function()
          t1 = typeof(o.tags[0]) != 'undefined' ? ' '+o.tags[0] : ''
          t2 = typeof(o.tags[1]) != 'undefined' ? ' '+o.tags[1] : ''
          t3 = typeof(o.tags[2]) != 'undefined' ? ' '+o.tags[2] : ''
          tt = t1+t2+t3
      - cc = {}
        function()
          c1 = o.loc[0].county != 'undefined' ? ' '+o.loc[0].county : ''
          c2 = o.loc[1].county != 'undefined' ? ' '+o.loc[1].county : ''
          c3 = o.loc[2].county != 'undefined' ? ' '+o.loc[2].county : ''
          cc = c1+c2+c3
      article.coupon(class= o.cat + tt + cc, sort-price= o.coupon_price, sort-date= o.date_numeric, sort-rating= o.meta.votes )

        // aside
        header
          .business #{o.business_name}
          .symbol-container(style="background-color:"+o.color)
            .symbol(style="background-image:url(https://s3.amazonaws.com/spinly/images/"+o.logo + ".png)")
            a.vote(id= o.user)= o.meta.votes
        .content
          sup.dollar $
          div.price
            | #{o.coupon_price}
          .clearfix
          summary 
            | #{o.coupon_title}
        footer
          ul
            li: span.date #{o.date}
            hr
            - for(var i=0; i<o.loc_quantity; i++)
              li
                | #{o.loc[i].street}<br>
                | #{o.loc[i].city}, #{o.loc[i].state}
                | #{o.loc[i].zip}<br>
                | #{o.business_phone}
              br
            hr
            li
              | #{o.coupon_body}

block scripts
  script(src='/js/controllers/homeController.js')

